.textBox{
    margin-top: 1.6%;
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 25px;
    width: 45%;
    direction: rtl;
    font-size: x-large;
}

textarea {
    font-size: large;
}

.arabText{
    margin-top:5%;
    margin-bottom: 15%;
}